<% var homeopen=""; var adminopen='';var podo='';var bank=''; var banklimbo='';var statistik='';var bankinvestor='';%>
<% if (navatasactive=='home') { %>
    <% homeopen='active'; %>
<% } else if (navatasactive=='finance-daftartransaksi') { %>
 
    <% adminopen='active'; %>
    
<% } else if (navatasactive=='podo') { %>
    <% podo='active'; %>
<% } else if (navatasactive.includes('bank')) { %>
    <% bank='active'; %>
    <% if (navatasactive=='finance-banklimbo') { %>
        <% banklimbo='active'; %>
    <% } else if (navatasactive=='finance-bankinvestor') { %>
        <% bankinvestor='active'; %>
    <% } %>
<% } else if (navatasactive=='statistik') { %>
    <% statistik='active'; %>
<% }%>
<div class="d-flex" >
    <nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed" id="sidabarutamashow">
        <!--<button class="toggle-btn" onclick="toggleSidebar()">
            <i class="fas fa-chevron-left"></i>
        </button>-->
        <div class="px-4 pt-4">
            <h4 class="logo-text mb-0"><i id="klikhidebar" class="bi bi-caret-left-fill toggle-btn" onclick="toggleSidebar()"></i> <span class="logo-text-hide"  onclick="toggleSidebar()"> Sembunyikan Menu</span></h4>
            <hr style="color: grey;">
        </div>

        <div class="vh-100" id="scrolled">
            <div class="col" style="display: flex;flex-direction: column;padding-bottom: 4em;"><!-- display: flex;flex-direction: column; nav flex-column -->
                <a class="sidebar-link text-decoration-none px-3">
                    <i class="bi bi-coin me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Admin"></i>
                    <span class="hide-on-collapse">Finance</span>
                </a>
                <div class="hide-on-collapse-detailmenu px-3">
                    <hr style="color: grey;">
                        <div class="row d-none">
                            <div class="col-8">
                                <span>Tugas Mendatang</span>
                            </div>
                            <div class="col-3" style="text-align: right;">
                                <span id="tugasmendatang">0</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <span>Tugas Saya</span>
                            </div>
                            <div class="col-3" style="text-align: right;">
                                <span name="totaltugassayaall">0</span>
                            </div>
                        </div>
                    <hr style="color: grey;margin-bottom: 0;">
                </div>
                <br>
                <a href="/home/finance" class="sidebar-link text-decoration-none px-3 <%-homeopen%>">
                    <i class="bi bi-house-fill me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Home"></i>
                    <span class="hide-on-collapse">Home</span>
                </a>
                <a class="sidebar-link text-decoration-none px-3 <%-adminopen%>">
                    <i class="bi bi-box-seam-fill me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Transaksi"></i>
                    <span class="hide-on-collapse">Daftar Transaksi</span>
                    <i id="transaksimenuarrow" class="bi bi-caret-down-fill hide-on-collapse" style="float: right;"></i>
                </a>

                <a onclick="menuarrowklik('transaksimenuarrow')" class="sidebar-link text-decoration-none px-3 <%-bank%>">
                    <i class="bi bi-bank2 me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Transaksi"></i>
                    <span class="hide-on-collapse">Banking</span>
                    <i id="transaksimenuarrow" class="bi bi-caret-down-fill hide-on-collapse" style="float: right;"></i>
                </a>
                <div class="hide-on-collapse-detailmenu col" id="transaksimenuarrow-extend" style="display: none;">
                    <div class="div-detailmenu <%-banklimbo%> mb-3">
                        <a href="/finance/banklimbo" class="a-detailmenu">Bank Limbo</a>  
                       
                    </div>

                    <div class="div-detailmenu <%-bankinvestor%> mb-3">
                        <a href="/finance/investor" class="a-detailmenu">Investor</a>  
                       
                    </div>
                
                    <br>
                </div>

                <a href="#" class="sidebar-link text-decoration-none px-3">
                    <i class="bi bi-box-seam-fill me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Stock" ></i>
                    <span class="hide-on-collapse">Daftar Invoice</span>
                </a>
                <!-- <div class="hide-on-collapse-detailmenu col" id="transaksimenuarrow-extend" style="display: none;">
                    
                    <a href="/upholstery" class="a-detailmenu">Semua Pesanan</a>  
                    <br>
                  
                    <br> 
                </div> -->
                
                <!-- <a onclick="menuarrowklik('operatingmenuarrow')" class="sidebar-link text-decoration-none px-3">
                    <i class="bi bi-patch-check-fill me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Operational p2.5"></i>
                    <span class="hide-on-collapse" >Operational p2.5</span>
                    <i id="operatingmenuarrow" class="bi bi-caret-down-fill hide-on-collapse" style="float: right;" ></i>
                </a>
                <div class="hide-on-collapse-detailmenu col" id="operatingmenuarrow-extend" style="display: none;">
                    
                    <a href="#" class="a-detailmenu">Drafting</a>  
                    <br>
                    <a href="#" class="a-detailmenu">Daftar Route</a>  
                    <br>
                    <br>
                </div> -->
                
                <a href="/statistik" class="sidebar-link text-decoration-none px-3 <%-statistik%>">
                    <i class="bi bi-graph-up-arrow me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Statistik" ></i>
                    <span class="hide-on-collapse">Statistik</span>
                </a>
                
                <a href="#" class="sidebar-link text-decoration-none px-3" onclick="warningunderbuild()">
                    <i class="bi bi-speedometer2 me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Stock"></i>
                    <span class="hide-on-collapse">Performa Saya (KPI)</span>
                </a>
                
                <a onclick="menuarrowklik('settingmenuarrow')"  class="sidebar-link text-decoration-none px-3">
                    <i class="bi bi-gear-fill me-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Settings"></i>
                    <span class="hide-on-collapse">Settings</span>
                    <i id="settingmenuarrow" class="bi bi-caret-down-fill hide-on-collapse" style="float: right;" ></i>
                </a>
                <div class="hide-on-collapse-detailmenu col" id="settingmenuarrow-extend" style="display: none;">
                    
                    <a onclick="logout()" class="a-detailmenu">Logout</a>  
                   
                    <br>
                    <br>
                </div>
            </div>
        </div>
       

       
    </nav>

